
    <form hx-post="/makeSchedule" hx-target="#display-schedule" hx-swap="innerHTML"> 
        <div class="teams">
            {% for team in sportInputs %}
            <div class="input">
                <label for="team{{team}}">team{{team}}</label>
                <input type="text" name="team{{team}}">
            </div>
            {% endfor %}
        </div>


        <div class="sports">
            {% for sport in teamInputs %}
            <div class="input">
                <label for="sport{{sport}}">sport{{sport}}</label>
                <input type="text" name="sport{{sport}}">
            </div>
            {% endfor %}
        </div>

        <button type="submit">create schedule</button>
        
    </form>

